# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: CI
on: [push, pull_request]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        ghc: [8.4.4, 8.6.5, 8.8.4, 8.10.2]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/facebookincubator/hsthrift/ci-base:latest
      options: --cpus 2
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get latest FB packages tag
        id: get-tag
        run: |
          echo "::set-output name=tag::$(bash .github/workflows/get_deps_tag.sh)"
        shell: bash

      # disabling caching for now because we're cloning the deps from
      # master. Caching is based on cloning a tag.
      # - name: Cache FB packages
      #   id: cache-fb-packages
      #   uses: actions/cache@v2
      #   with:
      #     path: /usr/local/
      #     key: ${{ runner.os }}-${{ steps.get-tag.outputs.tag }}
      #     restore-keys: |
      #       ${{ runner.os }}-${{ steps.get-tag.outputs.tag }}

      - name: Install folly, fizz, wangle, rsocket-cpp, fbthrift
#        if: steps.cache-fb-packages.outputs.cache-hit != 'true'
        run:  ./install_deps.sh --nuke
      - name: Install ${{ matrix.ghc }}
        run: ghcup install ghc ${{ matrix.ghc }} --set
      - name: Install cabal-install-3.6
        run: ghcup install cabal -u https://downloads.haskell.org/~cabal/cabal-install-3.6.0.0/cabal-install-3.6.0.0-x86_64-linux.tar.xz 3.6.0.0 --set
      - name: Populate hackage index
        run: cabal update
      - name: Generate C++ code from thrift files
        run: make thrift-cpp
      - name: Build everything up to thrift-compiler
        run: cabal build --project-file=ci.cabal.project exe:thrift-compiler
      - name: Generate Haskell code from thrift files
        run: make thrift-hs
      - name: Generate source distributions for all packages
        run: cabal sdist --project-file=ci.cabal.project all
      - name: Unpack source distributions in new directory
        run: |
          mkdir _sdists
          cd _sdists
          for f in $(ls ../dist-newstyle/sdist/*.tar.gz); do
            tar xzf $f;
          done
          cp ../ci-sdist.cabal.project cabal.project
          cd ..
      - name: Build all packages
        run: cabal build all
        working-directory: ./_sdists
      - name: Run testsuites
        run: cabal test mangle fb-util thrift-compiler thrift-lib thrift-cpp-channel thrift-server thrift-tests --keep-going
        working-directory: ./_sdists
